@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto&display=swap');

:root {
	font-family: 'JetBrains Mono', monospace;
}

:root {
	--fg-dark: #B4B8C8; /* base04 */
	--fg: #CBCDD8; /* base05 */
	--fg-bright: #E1E3E9; /* base06 */
	--white: #E1E3E9; /* base07 */

	--black: #1C1E26; /* base00 */
	--bg: #2D303D; /* base01 */
	--bg-bright: #3D4253; /* base02 */
	--bg-brighter: #4E536A; /* base03 */

	--mention-color: #E57B94; /* base08 */
	--danger-color: #F4908B; /* base09 */
	--warning-color: #F9C199; /* base0A */
	--success-color: #21A990; /* base0B */
	--link-color: #907BF4; /* base0C */
	--unused: #8BBBF4; /* base0D */
	--accent-color2: #C58BF4; /* base0E */
	--accent-color: #EE64AC; /* base0F */
}

body{
	margin:40px auto;
	max-width:650px;
	line-height:1.6;
	font-size:18px;
	color: var(--fg);
	background-color: var(--bg);
	padding:0 10px;
}

h1,h2,h3{
	line-height:1.2;
}

p {
	font-family: 'Roboto', sans-serif;
}

.navbar ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	justify-content: flex-start;
	display: flex;
}


.navbar ul li {
	display: inline;
	margin-right: 3rem;
}

.navbar ul li a {
	font-size: 1.1rem;
	color: var(--link-color);
}

.navbar ul li a.nav-active {
	font-size: 1.1rem;
	color: var(--accent-color);
}
