@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto&display=swap');

:root {
	font-family: 'JetBrains Mono', monospace;
}

:root {
	--fg-dark: #B4B8C8; /* base04 */
	--fg: #CBCDD8; /* base05 */
	--fg-bright: #E1E3E9; /* base06 */
	--white: #E1E3E9; /* base07 */

	--black: #1C1E26; /* base00 */
	--bg: #2D303D; /* base01 */
	--bg-bright: #3D4253; /* base02 */
	--bg-brighter: #4E536A; /* base03 */

	--mention-color: #E57B94; /* base08 */
	--danger-color: #F4908B; /* base09 */
	--warning-color: #F9C199; /* base0A */
	--success-color: #21A990; /* base0B */
	--link-color: #907BF4; /* base0C */
	--unused: #8BBBF4; /* base0D */
	--accent-color2: #C58BF4; /* base0E */
	--accent-color: #EE64AC; /* base0F */
}

body {
	max-width:800px;
	line-height:1.6;
	font-size:18px;
	color: var(--fg);
	background-color: var(--bg);
	margin: 2rem auto;
	padding:0 0.6rem;
}

@media screen and (max-width: 600px) {
	body {
		font-size:15px;
	}
}

header {
	margin: 2rem auto;
}

h1,h2,h3{
	margin: 4rem auto 1rem;
	line-height:1.2;
	color: var(--fg-bright);
}

h2,h3{
	margin: 2rem auto 1rem;
}

p {
	font-family: 'Roboto', sans-serif;
}

a {
	position: relative;
	text-decoration: none;
	color: var(--link-color);
}

a:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1rem;
	min-height: 2px;
	background-color: currentColor;
	transform-origin: right;
	transition: transform .25s ease;
}

a:hover:after{
	transform: scaleX(0);
}

link {
	color: var(--link-color);
}

.navbar {
	padding: 0 1rem 1.25rem;
	border-bottom: 0.2rem solid var(--bg-bright);
}

.navbar ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	justify-content: flex-start;
	display: flex;
}


.navbar ul li {
	display: inline;
	margin-right: 3rem;
}

.navbar ul li a {
	font-size: 1.25rem;
	text-decoration: none;
}

.navbar ul li a.nav-active {
	color: var(--accent-color);
}

.home-banner {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	gap: 5%;
	margin-bottom: 2rem;
}

.home-banner img {
	border-radius: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	inline-size: 9.5rem;
}

.home-banner h1 {
	margin: 1rem auto 2rem;
}

.home-banner p {
	margin: 0;
}

@media screen and (max-width: 600px) {
	.home-banner {
		flex-direction: column;
		align-items: center;
		gap: 0;
	}

	.home-banner img {
		inline-size: 15vh;
		margin-bottom: 1rem;
	}

	.home-banner h1 {
		font-size: 0;
		margin: 0;
	}
}
