:root {
	--fg-dark: #B4B8C8; /* base04 */
	--fg: #CBCDD8; /* base05 */
	--fg-bright: #E1E3E9; /* base06 */
	--white: #F8F8FA; /* base07 */

	--black: #1C1E26; /* base00 */
	--bg: #2D303D; /* base01 */
	--bg-bright: #3D4253; /* base02 */
	--bg-brighter: #4E536A; /* base03 */

	--mention-color: #E57B94; /* base08 */
	--danger-color: #F4908B; /* base09 */
	--warning-color: #F9C199; /* base0A */
	--success-color: #21A990; /* base0B */
	--link-color: #907BF4; /* base0C */
	--accent-color3: #8BBBF4; /* base0D */
	--accent-color2: #C58BF4; /* base0E */
	--accent-color: #EE64AC; /* base0F */
}

/* Themes */

.blue-evening {
	--fg-dark: #B4B8C8; /* base04 */
	--fg: #CBCDD8; /* base05 */
	--fg-bright: #E1E3E9; /* base06 */
	--white: #E1E3E9; /* base07 */

	--black: #1C1E26; /* base00 */
	--bg: #2D303D; /* base01 */
	--bg-bright: #3D4253; /* base02 */
	--bg-brighter: #4E536A; /* base03 */

	--mention-color: #E57B94; /* base08 */
	--danger-color: #F4908B; /* base09 */
	--warning-color: #F9C199; /* base0A */
	--success-color: #21A990; /* base0B */
	--link-color: #907BF4; /* base0C */
	--accent-color3: #8BBBF4; /* base0D */
	--accent-color2: #C58BF4; /* base0E */
	--accent-color: #EE64AC; /* base0F */
}

.pink-fair {
	--fg-dark: #B4B8C8; /* base04 */
	--fg: #CBCDD8; /* base05 */
	--fg-bright: #E1E3E9; /* base06 */
	--white: #E1E3E9; /* base07 */

	--black: #1C1E26; /* base00 */
	--bg: #2D303D; /* base01 */
	--bg-bright: #3D4253; /* base02 */
	--bg-brighter: #4E536A; /* base03 */

	--mention-color: #E57B94; /* base08 */
	--danger-color: #F4908B; /* base09 */
	--warning-color: #F9C199; /* base0A */
	--success-color: #21A990; /* base0B */
	--link-color: #907BF4; /* base0C */
	--accent-color3: #8BBBF4; /* base0D */
	--accent-color2: #C58BF4; /* base0E */
	--accent-color: #EE64AC; /* base0F */
}

.sunny-picnic {
	--fg-dark: #B4B8C8; /* base04 */
	--fg: #CBCDD8; /* base05 */
	--fg-bright: #E1E3E9; /* base06 */
	--white: #E1E3E9; /* base07 */

	--black: #1C1E26; /* base00 */
	--bg: #2D303D; /* base01 */
	--bg-bright: #3D4253; /* base02 */
	--bg-brighter: #4E536A; /* base03 */

	--mention-color: #E57B94; /* base08 */
	--danger-color: #F4908B; /* base09 */
	--warning-color: #F9C199; /* base0A */
	--success-color: #21A990; /* base0B */
	--link-color: #907BF4; /* base0C */
	--accent-color3: #8BBBF4; /* base0D */
	--accent-color2: #C58BF4; /* base0E */
	--accent-color: #EE64AC; /* base0F */
}

@media (prefers-color-scheme: dark) {
}
